body{
    width:100%;
    margin:0px auto;
    background: black;
}
header {
    background-image: linear-gradient(-90deg, black, maroon, black,);
    color: white;
    text-align: center;
    height: 180px;
    line-height: 50px;
    margin-bottom: 100px;
    border:20px white double;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding-top: 10px;
}

header h2 {
    text-align: center;
    font-family: 'La Belle Aurore', cursive;
    font-size: 22px;
    padding-top: 5px;
}
body main section{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
    color: white;
    font-size: 24px;
    border:inset 20px maroon;
}
body main section img{
    height: 400px;
    width: 400px;
    margin:auto;
}
body main section p{
    font-weight: bolder;
    margin:0px auto;
    text-align: center;
    border: double white 10px;
    width: 80%;
    height: 100px;
    font-size: 24px;
    background: black;
}
footer{
    outline: 3px solid white;
}#home{
    font-size: 45px;
    color:black;
    background: white;
    border-radius: 5px;
    border: solid white 1px;
    box-shadow: 10px 10px 5px grey;
    width: 80px;
    height:40px;

}
#home:hover{
    color:white;
    background: black;
    border: 2px solid white;
    transition-duration: 350ms;
}
#tannerSection img{
    transform: rotate(90deg);
}

