@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Montserrat:600');

*{
    text-decoration: none;
}

body {
    width: 100%;
    margin: auto;
}

header {
    border: 5px solid white;
    background-image: linear-gradient(-90deg, black, maroon, black);
    color: white;
    text-align: center;
    height: 100px;
    line-height: 40px;
    margin-bottom: 100px;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 10px;
}

header h2 {
    text-align: center;
    font-family: 'La Belle Aurore', cursive;
    font-size: 22px;
    padding-top: 12px;
}

section {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

div {
    text-align: center;
    width: 280em; 
    height: 180px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 14px;
    box-shadow: 2px 3px white;
    line-height: 160px;
    flex-grow: inherit;
    margin: 30px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px rgba(4, 250, 250, 0.5);
    
}

footer{
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    height: 100%;
    line-height: 60px;
}
#footerButton{
    width: 15em;
    background: rgb(245, 245, 245, 0.7);
    border:maroon 4px solid;
}
#aboutLink{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px maroon;
    font-size: 30px;
}