@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Montserrat:600');

main{
    width:100%;
    background: #666;
}
header {
    width:100%;
    background: #333;
    color:white;
    text-align: center;
    height: 140px;
    line-height: 100px;
    margin-bottom: 100px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

h2 {
    margin-top: -50px;
    font-family: 'La Belle Aurore', cursive;
    font-size: 28px;
}

*{

   
    font-size: 40px;
    text-decoration: none;
}


body{
   width:100%;
margin:auto;
  
}
li{
    margin:0px auto;
    margin-bottom:60px;
    height: 100px;
    width: 80%;
    background: #666;
    border: solid black 10px;
    border-radius: 15px;
}

li h4{
    
    background:white;
}
li p{
    background: rgb(93, 93, 206);
}
ul{
    background: #666;;
}
footer{
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    height: 100%;
    line-height: 60px;
}
#aboutLink{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

ul{
    display:flex;
    flex-wrap: wrap;
}

li{
    flex-direction: column
}
#home{
    text-decoration: none;
    color:black;
    padding:5px;
    background:white;
    border: 10px solid black;
    border-radius: 15px;
}
#home:hover {
    background:black;
    color:white;
    border: 10px solid white;
    border-radius: 15px;
    
}


