<!DOCTYPE html>
<html>
    <body>
        <main>
            <div>
            <% places.forEach(item => {%>
            <div> <%= item.name %> </div>
            </div>
            <% }) %>
        </main>
    </body>
</html>