<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <main>
            <header>Proof of life:</header>
            <section>
                <p>hello world</p>
            </section>
            <section>

            </section>
            <section>

            </section>
        </main>
    </body>
</html>
