<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head') %>
    </head>
    <body>
        <main>
            <header>
                <%- include('./partials/header') %>
            </header>
            <section>
                <video autoplay muted loop id="myVideo" height="100%">
                <source src="/images/migrate_720.mp4" type="video/mp4">
                </video>
            </section>
            
            <section id="container">
                <div  id="north"><a class="allDirections"href="/search/north">North</a></div>
                <div  id="east"><a class="allDirections"href="/search/east">East</a></div>
                <div  id="west"><a class="allDirections"href="/search/west">West</a></div>
                <div  id="south"><a class="allDirections"href="/search/south">South</a></div>
            </section>
            
            <section>
            </section>
            <footer>
            <%- include('./partials/footer') %>
        </footer>
        </main>
    </body>
</html>
