<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head') %>
    </head>
    <body>
        <main>
            <header>
                <%- include('./partials/header') %>
            </header>
            <section>
            </section>
            
            <section id="container">
                <div id="north"><a href="/search/north">North</a></div>
                <div id="east"><a href="/search/east">East</a></div>
                <div id="west"><a href="/search/west">West</a></div>
                <div id="south"><a href="/search/south">South</a></div>
            </section>
            
            <section>
            </section>
            <%- include('./partials/footer') %>
        </main>
    </body>
</html>
