<!DOCTYPE html>
<html>
    <head>
        <%- include('./layout/head') %>
    </head>
    <body>
        <main>
            <header>
                <%- include('./layout/header')
            </header>
            <section>
                <p>hello world</p>
            </section>
            <section>

            </section>
            <section>

            </section>
            <%- include('./layout/footer') %>
        </main>
    </body>
</html>
