<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head') %>
    </head>
    <body>
        <main>
            <header>
                <%- include('./partials/header') %>
            </header>

            <section id="tannerSection">
                <img src="" alt="A picture of Tanner" title="Tanner">
                <p>I am a jr software developer with javaScript skills for full stack aplication. <br>
                    Working on this project was a lot of fun and i really enjoyed collaberating <br>
                    with my team to make a product i am very happy and proud of
                </p>
            </section>
            <section id="jonSection">
                    <img src="" alt="" title="">
                    <p></p>
            </section>
            <section id="spenceSection">
                    <img src="" alt="" title="">
                    <p></p>
            </section>
            <section id="ianSection">
                    <img src="" alt="" title="">
                    <p></p>
            </section>
            <%- include('./partials/footer') %>
        </main>
    </body>
</html>