<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/style/about.css">
    </head>
    <body>
        <main>
            <header>
                <%- include('../partials/header') %>
                <a id="home" href="/" >home</a>
            </header>
            <section id="ianSection">
                <img src="/images/elmo.png" alt="Ians Elmo Avatar" title="elmo">
                <p>"I have no idea what I am doing" - Ian (1/7/2019 - Present)</p>
            </section>
            <section id="jonSection">
                    <img src="" alt="" title="">
                    <p></p>
            </section>
            <section id="spenceSection">
                <img src="images/datboi.jpg" alt="" title="Spencer Hirata">
                <p>Back end Dev with dreams of working for Twitch and starting his own company</p>
            </section>
            <section id="tannerSection">
                <img src="/images/IMG_0081.JPG" alt="A picture of Tanner" title="Tanner">
                <p>I am a jr software developer with javaScript skills for full stack aplication. 
                    Working on this project was a lot of fun and i really enjoyed collaberating 
                    with my team to make a product i am very happy and proud of.
                </p>
            </section>
            <footer>
            <%- include('../partials/footer') %>
        </footer>
        </main>
    </body>
</html>